.errorWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.blogContainer {
    padding: 50px;
    width: 50%;
}