form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    width: 50%;
}